<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
  <%- include('./partials/nav') %>
    <% if (categories) { %>
      <% categories.forEach(category=> { %>
        <% console.log(category); %>
          <h1>
            <%= category.toUpperCase() %>
          </h1>
          <div id="menu">
            <% menu.forEach(item=> { %>
              <% if (item.category===category) { %>
                <div class="item">
                  <p class="name">
                    <%= item.name %>
                      <% if (item.rating===5) { %>
                        â­
                        <% } %>
                  </p>
                  <p class="details">
                    <%= item.details %>
                  </p>
                  <div class="footer">
                    <p class="price">$<%= item.price.toFixed(2) %>
                    </p>
                    <p class="rating">
                      <% for (let i=0; i < item.rating; i++) { %>
                        <i class="fa-star"></i>
                        <% } %>
                          <% for (let i=item.rating; i < 5; i++) { %>
                            <i class="fa-star"></i>
                            <% } %>
                    </p>
                  </div>
                </div>
                <% } %>
                  <% }) %>
          </div>
          <% }) %>
            <% } %>
</body>

</html>